$bp-tablet: 768px;
$bp-desktop: 1440px;

:root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --grey-200: hsl(210, 46%, 95%);
    --grey-400: hsl(212, 23%, 69%);
    --grey-500: hsl(214, 17%, 51%);
    --grey-900: hsl(217, 19%, 35%);
    --color-footer: hsl(228, 45%, 44%);

    /* Typo */
    --font-family: 'Manrope', sans-serif;

    --fs-preset-1: 1.25rem;
    --fs-preset-2: 0.8125rem;

    --lh-preset-1: 1.3;
    --lh-preset-2: 1.4;

    --ls-preset-1: 0.25px;
    --ls-preset-2: 0.0192px;
    --ls-preset-3: 0.0192px;
    --ls-preset-4: 4px;

    --fw-preset-1: 700;
    --fw-preset-2: 500;
    --fw-preset-3: 700;
    --fw-preset-4: 500;

    /* Border Radius */
    --radius-card: 10px;
    --radius-img: 50%;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
}

body {
    background-color: var(--grey-200);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Article */
.card {
    background-color: var(--color-white);
    max-width: 20.4375rem;
    height: 33.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: var(--radius-card);
    overflow: hidden;

    .img-card {
        min-height: 12.5rem;
        object-fit: cover;
    }
}

.container-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 2rem;

        .title-primary {
            color: var(--grey-900);
            font-size: var(--fs-preset-1);
            line-height: var(--lh-preset-1);
            font-weight: var(--fw-preset-1);
            letter-spacing: var(--ls-preset-1);
        }

        .paragraph {
            color: var(--grey-500);
            font-size: var(--fs-preset-2);
            line-height: var(--lh-preset-2);
            font-weight: var(--fw-preset-2);
            letter-spacing: var(--ls-preset-2);
        }
    }
}

/* Footer article */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 1rem 2rem;
    position: relative;

    .author-info {
        display: flex;
        align-items: center;
        gap: 1rem;

        .author {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .img-profile {
            border-radius: var(--radius-img);
        }
    }

    .name {
        color: var(--grey-900);
        font-size: var(--fs-preset-2);
        line-height: var(--lh-preset-2);
        letter-spacing: var(--ls-preset-2);
        font-weight: var(--fw-preset-3);
    }

    .date-profile {
        color: var(--grey-400);
        font-size: var(--fs-preset-2);
        line-height: var(--lh-preset-2);
        letter-spacing: var(--ls-preset-2);
        font-weight: var(--fw-preset-2);
    }

    .btn-share {
        background-color: var(--grey-200);
        width: 2rem;
        height: 2rem;
        border-radius: var(--radius-img);
        border: none;
        position: absolute;
        top: 0.375rem;
        right: 2rem;
        z-index: 2;
        margin-left: auto;
    }

    .btn-share.is-active {
        background-color: var(--grey-500);
    }

    .btn-share.is-active path {
        fill: white;
    }

}

.wrapper-share {
    height: 4.75rem;
    background-color: var(--grey-900);
    display: none;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 0;
    top: -1rem;
    width: 100%;
    z-index: 1;

    &.is-active {
        display: flex;
    }

    .share-panel {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .profile-paragraph {
        color: var(--grey-400);
        text-transform: uppercase;
        font-size: var(--fs-preset-2);
        line-height: var(--lh-preset-2);
        letter-spacing: var(--ls-preset-4);
        font-weight: var(--fw-preset-4);
    }
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;

    a {
        color: var(--color-footer);
    }
}

@media (min-width: $bp-tablet) {

    .card {
        max-width: 38rem;
        min-height: 21.625rem;
        height: 100%;
        flex-direction: row;
        align-items: center;
        padding-right: 2rem;
        overflow: visible;

        .img-card {
            height: 21.625rem;
            object-fit: cover;
            width: 14.3125rem;
            border-radius: 10px 0 0 10px;
        }

        .container-content {
            gap: 1.5rem;
            padding: 0;

            .card-content {
                width: 19.4375rem;
                padding: 0;
            }
        }

        .profile {
            padding: 0;

            .btn-share {
                right: 0;
            }
        }
    }

    .wrapper-share {
        width: 248px;
        height: 55px;
        border-radius: 10px;
        padding: 18px 38px;
        right: -35%;
        top: -83px;
        left: auto;
        box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-top: 12px solid var(--grey-900);
            border-bottom: 12px solid transparent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -24px;
        }
    }
}

@media (min-width: $bp-desktop) {

    .card {
        max-width: 45.625rem;
        min-height: 17.5rem;
        gap: 2.5rem;

        .img-card {
            width: 285px;
            height: 280px;
        }

        .container-content {

            .card-content {
                width: auto;
            }
        }
    }
}